/*NAV*/
  nav, footer.page-footer {
    background-color: #fff;
    /*box-shadow: 0 2px 4px -1px #999,
      0 4px 5px 0 #999,
      0 1px 10px 0 #999;*/
  }

  /*TOP LEFT LOGO*/
  nav .brand-logo {
    padding-left: 1em;
    font-family: 'Julius Sans One', sans-serif;
    color: black;
  }

  @media only screen and (max-width: 992px) {
    nav .brand-logo {
      padding-left: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    nav .brand-logo {
      font-size: 1.5rem;
    }
  }

  nav ul a {
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    font-size: 1.2em;
  }

  .nav_right {
    margin-right: 1em;
  }

  nav .button-collapse i {
    color: black;
  }


/*BANNER*/

.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
}

.img-container {
  min-height: calc(100vh - 64px);
  background-image: url('../../../../app/public/images/tree-189852_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 0%;
  padding: 120px 20px 0 20px;
}

@media only screen and (max-width: 600px) {
  .img-container, .banner {
    min-height: calc(100vh - 56px);
  }
  .img-container {
    padding: 40px 20px 0 20px;
  }
}


.banner_title {
  color: black;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}

.banner_form {
  max-width: 550px;
  position: relative;
  width: 100%;
  margin: 2rem auto;
}

#banner_search {
  background-color: #fff;
  border-top: solid #bdbdbd 1px;
  border-bottom: solid #bdbdbd 1px;
  border-left: solid #bdbdbd 1px;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
  font-size: 16px;
  padding: 0 10px;
  opacity: 1;
}

#banner_search:focus {
  border-bottom: solid #2196F3 1px;
  border-top: solid #2196F3 1px;
  border-left: solid #2196F3 1px;
  box-shadow: none;
}

input.has-error {
  border: 1px solid #B7410E;
}

input.has-error:focus {
  border: 1px solid #B7410E;
}

input.has-success {
  background-color: green;
}

input.has-success:focus {
  background-color: green;
}

#banner_search_btn {
  height: 3rem;
  width: 100%;
  background-color: #647db3;
  box-shadow:none;
  border-radius: 0 3px 3px 0;
  opacity: 1;
}

.banner_sub_text {
  font-size: 1.2rem;
  text-align: center;
  color: black;
}
