html {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no_margin_top {
  margin-top: 0;
}

.no_padding {
  padding: 0;
}




/*CONTENT*/

  main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }



  .main_stuff {
    display: flex;
    flex-direction: column;
  }



  /*POPULAR CITIES*/
  .button_city > a.btn {
    margin: 0.5em;
    background-color: #E8D99C;
    color: black;
  }

  .button_city > a.btn:hover {
    background-color: #FFE29F;
  }


  #location:focus {
    border-bottom: 1px solid #E8D99C;
    -webkit-box-shadow: 0 1px 0 0 #E8D99C;
    -moz-box-shadow: 0 1px 0 0 #E8D99C;
    box-shadow: 0 1px 0 0 #E8D99C;
  }

  .form_btns_cust {
    display: flex;
    justify-content: flex-start;
  }

  .reset_button {
    margin-left: 0.5em;
  }

  .submit_btns_cust {
    background-color: #E8D99C;
    color: black;
  }

  .submit_btns_cust:hover {
    background-color: #FFE29F;
  }

  .space_below {
    margin-bottom: 0.8em;
  }

  /*ROWS BACKGROUND*/
  .cards_background {
    background-color: #667EA5;
  }

  .card-content {
    background-color: #fdfdfd;
  }

  .prod_table {
    background-color: #fff;
    margin: 0.5rem 0 1rem 0;
  }

  .prod_btn {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #E8D99C;
    margin-left: 1em;
    color: black;
  }

  .prod_btn:hover {
    background-color: #FFE29F;
  }


  td, th {
    padding-left: 2em;
  }

  td {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
  }

  .input_solar {
    padding-top: 1em;
    display: flex;
  }

  #city_loc {
    margin: auto
  }




  .collapsible {
    color: black;
  }

  .collapsible-body {
    background-color: #eeeeee;
  }

  .lat, .long, .dni, .ghi, .lat_tilt {
    padding: 1em;
  }

  .production {
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 0.8em;
  }

  .solar-prod-data {
    display: none;
  }



  .center_info {
    display: flex;
    justify-content: center;
  }


  .solar_card {
    display: flex;
  }

  .solar_card_start {
    margin-top: 2em;
  }


  .utility_cost, .potential_status  {
    font-size: 2em;
    height: 3em;
    align-items: center;
  }

  .space {
    margin-top: 0.6em;
  }

  .hidden_select {
    display: none;
  }

  .hidden_cards {
    display: none;
  }

  .hidden_form {
    display: none;
  }

  .hidden_or {
    display: none;
  }



  .bill_value, .power_results {
    font-size: 2em;
    display: inline-block;
  }

  .power_results {
    float:right;

  }
